@use '../config/breakpoints' as *;
@use '../config/spacing' as *;
@use '../config/colors' as *;
@use '../config/typography' as *;

:root {
  --table-color-even: var(--color-contrast-50);
  --table-color-group-selected: var(--color-primary-50);
}

.table {
  width: 100%;

  &__group,
  &__item {
    display: block;
  }

  td:first-child,
  th:first-child {
    border-radius: 8px 0 0 8px;
  }

  td:last-child,
  th:last-child {
    border-radius: 0 8px 8px 0;
  }

  &__heading-group {
    position: absolute;
    top: -9999px;
    left: -9999px;
    border-radius: 16px;
  }

  &__item {
    padding: spacing-get(sm) spacing-get(sm) spacing-get(sm) 45%;

    &::before {
      position: absolute;
      left: spacing-get(md);
      padding-left: spacing-get(sm);
      font-weight: 500;
    }
  }

  &__group:nth-child(even) {
    background-color: var(--table-color-even);
  }

  &__item:nth-of-type(1)::before {
    content: attr(data-title);
  }

  &__item:nth-of-type(2)::before {
    content: attr(data-title);
  }

  &__item:nth-of-type(3)::before {
    content: attr(data-title);
  }

  &__item:nth-of-type(4)::before {
    content: attr(data-title);
  }

  &__item:nth-of-type(5)::before {
    content: attr(data-title);
  }

  &__item:nth-of-type(6)::before {
    content: attr(data-title);
  }

  @include breakpoint(lg) {
    display: table;
    font-size: typography-size-get(base-size);
    line-height: 1.8;

    td:nth-of-type(1)::before {
      content: '';
    }

    td:nth-of-type(2)::before {
      content: '';
    }

    td:nth-of-type(3)::before {
      content: '';
    }

    td:nth-of-type(4)::before {
      content: '';
    }

    td:nth-of-type(5)::before {
      content: '';
    }

    td:nth-of-type(6)::before {
      content: '';
    }

    .degree-violence {
      width: 248px;
    }

    .groups-involved {
      width: 320px;
    }

    .events {
      width: 516px;
    }

    tr {
      display: table-row;
    }

    td {
      display: table-cell;
    }

    &__heading-group {
      position: relative;
      top: 0;
      left: 0;
      white-space: nowrap;
      cursor: pointer;
      background-color: var(--table-color-even);
    }

    &__heading {
      position: relative;
      padding: spacing-get(md);
      font-weight: 500;
      text-align: left;
    }

    .is-selected {
      background-color: var(--table-color-group-selected);
    }

    &__item {
      padding: spacing-get(md);
      overflow: visible;
      text-overflow: unset;
      white-space: unset;

      &:first-child {
        white-space: nowrap;
      }

      cursor: pointer;
    }
  }
}
