$inset: (
  t: 'top',
  b: 'bottom',
  l: 'left',
  r: 'right',
) !default;

$positions: (
  absolute: 'absolute',
  static: 'static',
  fixed: 'fixed',
  relative: 'relative',
  sticky: 'sticky',
) !default;
